{
  //设定转码规则,指示babel做怎么样的兼容性处理
  "presets": [
    [
      "@babel/preset-env"
      // {
      //   // 指定兼容性做到哪个版本浏览器
      //   "targets": {
      //     "edge": "17",
      //     "firefox": "60",
      //     "chrome": "67",
      //     "safari": "11.1"
      //   },
      //   // 按需加载
      //   "useBuiltIns": "usage",
      //   // 指定core-js版本
      //   "corejs": {
      //     "version": 3
      //   }
      // }
    ],
    [
      "@babel/preset-react",
      {
        // "pragma": "lib.createElement"
      }
    ]
  ],
  //配置插件
  "plugins": ["@babel/plugin-transform-runtime"]
}
